gradio==4.44.0
gradio_client==0.16.4

huggingface-hub==0.27.1
sentence-transformers==2.6.1
transformers==4.38.2

faiss-cpu==1.7.4
edge-tts
pydub
PyMuPDF
python-docx
chardet
numpy
groq
python-dotenv
soundfile
